<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h4 class="card-title">All User's List</h4>
    <%= link_to " <i class='fa fa-arrow-left'></i> Back".html_safe, settings_path, class: "btn btn-secondry mb-3" %>
  </div>

  <div class="card-body">
    <!-- Button to trigger the modal for new doctor -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-doctor-modal">
       New User
    </button>

    <div class="table-responsive">
      <table class="table table-striped custom-table table-hover table-checkable order-column valign-middle">
        <thead class="text-primary">
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Employee Designation</th>
            <th>Joining Date</th>
            <th>Basic Salary</th>
            <th>License Number</th>
            <th>Percentage</th>
            <th>Avatar</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @doctorlists.each_with_index do |doctorlist, index| %>
            <tr>
              <td><%= (index + 1) + (@doctorlists.current_page - 1) * @doctorlists.limit_value %></td>
              <% if doctorlist.userable.present? %>
                <td><%= doctorlist.userable.first_name %></td>
                <td><%= doctorlist.userable.last_name %></td>
                <td><%= doctorlist.userable.email %></td>
                <td><%= "+#{doctorlist.userable.country_code} #{doctorlist.userable.phone}" %></td>
                <td><%= doctorlist.userable.address %></td>
                <td><%= doctorlist.userable.employee_designation %></td>
                <td><%= doctorlist.userable.joining_date %></td>
                <td><%= number_to_currency(doctorlist.userable.basic_salary) %></td>
                <td><%= doctorlist.activity_clinician %></td>
                <td><%= doctorlist.percentage %>%</td>
                <td>
                <% if doctorlist.userable.avatar.attached? %>
                  <%= image_tag doctorlist.userable.avatar, class: "img-thumbnail", size: "50x50" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <% else %>
                <td colspan="10" class="text-center text-warning"></td>
              <% end %>

              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-link btn-warning p-0 mx-3" data-toggle="modal" data-target="#edit-doctor-modal-<%= doctorlist.id %>">
                    <i class="fas fa-edit fa-lg"></i>
                  </button>
                  <%= button_to doctorlist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-danger p-0" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @doctorlists, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal for creating a new doctor -->
<div class="modal fade" id="add-doctor-modal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addDoctorModalLabel">Create New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body-content">
        <%= form_with(url: doctorlists_path, local: true, html: { multipart: true }) do |form| %>
          <div class="modal-body">
            <div class="form text-white-50 form-fields">
                <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :admin_id, "User Type", class: 'form-label text-white' %>
                  <%= form.collection_select :admin_id, Admin.all, :id, :title, { prompt: "Select a user type" }, class: 'form-control custom-input-height', id: 'usertype_select', required: true %>
                </div>
                  <div class="form-group col-md-6">
                    <%= form.label :first_name %>
                    <%= form.text_field :first_name, class: "form-control", required: true, name: "user[first_name]" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :last_name %>
                    <%= form.text_field :last_name, class: "form-control", required: true, name: "user[last_name]" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :email %>
                    <%= form.email_field :email, class: "form-control", required: true, name: "user[email]" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= form.label :phone %>
                    <div class="input-group">
                      <%= form.select :country_code, 
                                       country_codes_for_select, 
                                       { prompt: "Select Country" }, 
                                       class: "form-control col-4 country-select custom-input-height", 
                                       required: true,  
                                       name: "user[country_code]" %>
                      <%= form.telephone_field :phone, 
                                                class: "form-control col-8 custom-input-height", 
                                                required: true, 
                                                name: "user[phone]" %>
                    </div>
                  </div>                  
                  <div class="form-group col-md-12">
                    <%= form.label :address %>
                    <%= form.text_area :address, class: "form-control", name: "user[address]" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :basic_salary %>
                    <%= form.number_field :basic_salary, class: "form-control", required: true, name: "user[basic_salary]" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :employee_designation %>
                    <%= form.text_field :employee_designation, class: "form-control",  required: true, name: "user[employee_designation]" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :activity_clinician, "License Number" %>
                    <%= form.text_field :activity_clinician, class: "form-control",  name: "doctorlist[activity_clinician]", id: "activity_clinician_field" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :percentage, "Percentage" %>
                    <%= form.number_field :percentage, class: "form-control", name: "doctorlist[percentage]", id: "percentage_field" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :joining_date %>
                    <%= form.date_field :joining_date, class: "form-control", name: "user[joining_date]" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :avatar %>
                    <%= form.file_field :avatar, class: "form-control",name: "user[avatar]"  %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :password %>
                    <%= form.password_field :password, class: "form-control", required: true, name: "user[password]" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :password_confirmation %>
                    <%= form.password_field :password_confirmation, class: "form-control", required: true, name: "user[password_confirmation]" %>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing a doctor -->
<% @doctorlists.each do |doctorlist| %>
  <div class="modal fade" id="edit-doctor-modal-<%= doctorlist.id %>" tabindex="-1" role="dialog" aria-labelledby="editDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="editDoctorModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body-content">
          <%= form_with(model: doctorlist, local: true, html: { multipart: true }) do |form| %>
            <div class="modal-body">
              <% if form.object.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                  <h5><%= pluralize(form.object.errors.count, "error") %> prohibited this doctor from being saved:</h5>
                  <ul>
                    <% form.object.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-row">
                <% if doctorlist.userable.present? %>
                  <%= form.fields_for :userable, doctorlist.userable do |user_form| %>
                  <div class="form-group col-md-6">
                    <%= user_form.label :admin_id, "User Type", class: 'form-label text-white' %>
                    <%= user_form.collection_select :admin_id, Admin.all, :id, :title, { selected: doctorlist.userable.admin_id }, class: 'form-control', required: true, id: "usertype_select_#{doctorlist.id}" %>
                  </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :first_name %>
                      <%= user_form.text_field :first_name, class: "form-control", required: true %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :last_name %>
                      <%= user_form.text_field :last_name, class: "form-control", required: true %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :email %>
                      <%= user_form.email_field :email, class: "form-control", required: true %>
                    </div>
                    <div class="form-group col-md-12">
                      <%= user_form.label :phone %>
                      <div class="input-group">
                        <%= user_form.select :country_code, country_codes_for_select, { selected: doctorlist.userable.country_code }, class: "form-control col-6 country-select", name: "user[country_code]" %>
                        <%= user_form.telephone_field :phone, class: "form-control col-8", required: true, name: "user[phone]" %>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <%= user_form.label :address %>
                      <%= user_form.text_area :address, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :employee_designation %>
                      <%= user_form.text_field :employee_designation, required: true, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :basic_salary %>
                      <%= user_form.number_field :basic_salary, class: "form-control", required: true %>
                    </div>

                    <div class="form-group col-md-6">
                      <%= form.label :activity_clinician, "License Number" %>
                      <%= form.text_field :activity_clinician, class: "form-control", id: "activity_clinician_field_#{doctorlist.id}" %>
                    </div>

                    <div class="form-group col-md-6">
                      <%= form.label :percentage %>
                      <%= form.number_field :percentage, class: "form-control", id: "percentage_field_#{doctorlist.id}" %>
                    </div>

                    <div class="form-group col-md-6">
                      <%= user_form.label :joining_date %>
                      <%= user_form.date_field :joining_date, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= user_form.label :avatar %>
                      <%= user_form.file_field :avatar, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= form.label :password %>
                      <%= form.password_field :password,  class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= form.label :password_confirmation %>
                      <%= form.password_field :password_confirmation, class: "form-control" %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="text-warning"></div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <%= form.submit "Save Changes", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script >
  document.addEventListener("DOMContentLoaded", function() {
    function toggleFields(userTypeSelect, licenseNumberField, percentageField) {
      if (userTypeSelect && licenseNumberField && percentageField) {
        if (userTypeSelect.value) {
        const isDoctorSelected = ['doctor', 'doctors'].includes(userTypeSelect.selectedOptions[0].text.toLowerCase()) ||
                            ['Doctor', 'Doctors'].includes(userTypeSelect.selectedOptions[0].text);
          if (isDoctorSelected) {
            licenseNumberField.closest(".form-group").style.display = "block";
            percentageField.closest(".form-group").style.display = "block";
          } else {
            licenseNumberField.closest(".form-group").style.display = "none";
            percentageField.closest(".form-group").style.display = "none";
          }
        }
      }
    }

    const createUserTypeSelect = document.getElementById("usertype_select");
    const createLicenseNumberField = document.getElementById("activity_clinician_field");
    const createPercentageField = document.getElementById("percentage_field");

    if (createUserTypeSelect && createLicenseNumberField && createPercentageField) {
      toggleFields(createUserTypeSelect, createLicenseNumberField, createPercentageField);

      createUserTypeSelect.addEventListener("change", function() {
        toggleFields(createUserTypeSelect, createLicenseNumberField, createPercentageField);
      });
    }

    // Handle the edit modals
    document.querySelectorAll('[id^="edit-doctor-modal-"]').forEach(modal => {
      const modalId = modal.id.split('-').pop();
      const editUserTypeSelect = document.getElementById(`usertype_select_${modalId}`);
      const editLicenseNumberField = document.getElementById(`activity_clinician_field_${modalId}`);
      const editPercentageField = document.getElementById(`percentage_field_${modalId}`);

      if (editUserTypeSelect && editLicenseNumberField && editPercentageField) {
        // Initialize visibility for the edit modal
        toggleFields(editUserTypeSelect, editLicenseNumberField, editPercentageField);

        // Add event listener for the edit modal
        editUserTypeSelect.addEventListener("change", function() {
          toggleFields(editUserTypeSelect, editLicenseNumberField, editPercentageField);
        });
      }
    });
  });



  document.addEventListener("DOMContentLoaded", function () {
    const countrySelect = document.querySelector(".country-select");

    if (countrySelect) {
      countrySelect.addEventListener("change", function () {
        const selectedText = this.options[this.selectedIndex].text;
        const countryCode = selectedText.match(/\(\+(\d+)\)/)?.[1] || "";

        if (countryCode) {
          // Display only the country code
          this.options[this.selectedIndex].text = `+${countryCode}`;
        }
      });
    }
  });

</script>

<style>
  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
  .custom-input-height {
    height: 40px;
  }

</style>