<div class="list-group mb-3">
  <!-- Branches Tab -->
  <%= link_to branches_path, class: "list-group-item list-group-item-action bg-dark text-white d-flex align-items-center mb-2 border-0 rounded-lg shadow-sm hover-zoom" do %>
    <span class="fs-5">Branches</span>
  <% end %>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-admin-modal">
      Manage Permissions
    </button>    </div>
    <div class="table-responsive">
      <table class="table table-striped custom-table table-hover table-checkable order-column valign-middle">
        <thead class="text-primary">
          <tr>
            <th>Title</th>
            <th>Permissions</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each_with_index do |admin, index| %>
            <tr>
              <td><%= admin.title %></td>
              <td><%= admin.permissions.reject { |p| p.blank? || p == '0' }.join(', ') %></td>
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <!-- Edit Button with Icon -->
                  <button type="button" class="btn btn-link btn-warning p-0 mx-3" data-toggle="modal" data-target="#edit-admin-modal-<%= admin.id %>">
                    <i class="fas fa-edit fa-lg"></i>
                  </button>
                  <!-- Delete Button with Icon -->
                  <%= button_to admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-danger p-0" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal for Add permissions -->
<div class="modal fade" id="add-admin-modal" tabindex="-1" role="dialog" aria-labelledby="addAdminModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addAdminModalLabel">Create New permissions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body-content">
        <%= form_with(model: @admin, local: true) do |form| %>
          <% if form.object.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h5><%= pluralize(form.object.errors.count, "error") %> prohibited this admin from being saved:</h5>
              <ul>
                <% form.object.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="modal-body">
            <div class="form text-white-50 form-fields">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <%= form.label :title %>
                  <%= form.text_field :title, class: "form-control", placeholder: "Enter title", required: true %>
    
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <%= form.label :permissions %><br>
                  <%= form.check_box :permissions, { multiple: true }, 'API Request', nil %>
                  <%= form.label :permissions, 'API Request' %><br>

                  <%= form.check_box :permissions, { multiple: true }, 'Report', nil %>
                  <%= form.label :permissions, 'Report' %><br>

                  <%= form.check_box :permissions, { multiple: true }, 'Settings', nil %>
                  <%= form.label :permissions, 'Settings' %><br>

                  <%= form.check_box :permissions, { multiple: true }, 'Patient', nil %>
                  <%= form.label :permissions, 'Patient' %><br>

                  <%= form.check_box :permissions, { multiple: true }, 'Payment', nil %>
                  <%= form.label :permissions, 'Payment' %><br>

                  <%= form.check_box :permissions, { multiple: true }, 'Submissions', nil %>
                  <%= form.label :permissions, 'Submissions' %><br>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Save', class: 'btn btn-fill btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Edit permissions -->
<% @admins.each do |admin| %>
  <div class="modal fade" id="edit-admin-modal-<%= admin.id %>" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="editAdminModalLabel">Edit permissions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body-content">
          <%= form_with(model: admin, local: true, html: { multipart: true }) do |form| %>
            <% if form.object.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <h5><%= pluralize(form.object.errors.count, "error") %> prohibited this admin from being updated:</h5>
                <ul>
                  <% form.object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="modal-body">
              <div class="form text-white-50 form-fields">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= form.label :title %>
                    <%= form.text_field :title, class: "form-control", placeholder: "Edit title", required: true %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= form.label :permissions %><br>
                    <%= form.check_box :permissions, { multiple: true }, 'API Request' %>
                    <%= form.label :permissions, 'API Request' %><br>

                    <%= form.check_box :permissions, { multiple: true }, 'Report' %>
                    <%= form.label :permissions, 'Report' %><br>

                    <%= form.check_box :permissions, { multiple: true }, 'Settings' %>
                    <%= form.label :permissions, 'Settings' %><br>

                    <%= form.check_box :permissions, { multiple: true }, 'Patient' %>
                    <%= form.label :permissions, 'Patient' %><br>

                    <%= form.check_box :permissions, { multiple: true }, 'Payment' %>
                    <%= form.label :permissions, 'Payment' %><br>
                    
                    <%= form.check_box :permissions, { multiple: true }, 'Submissions', nil %>
                    <%= form.label :permissions, 'Submissions' %><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit 'Update', class: 'btn btn-fill btn-warning' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
