<h1>New Denial Code</h1>

<%= form_with(model: @denialcodelist, local: true) do |form| %>
  <% if @denialcodelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@denialcodelist.errors.count, "error") %> prohibited this denialcodelist from being saved:</h2>
      <ul>
        <% @denialcodelist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :denial_code %>
    <%= form.text_field :denial_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', denialcodelists_path %>
