<div class="card">
  <div class="card-header">
    <h4 class="card-title">Manage Reception</h4>
  </div>

  <div class="card-body">
    <!-- Button to trigger the modal for new reception -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-reception-modal">
      New Reception
    </button>

    <div class="table-responsive">
      <table class="table table-striped custom-table table-hover table-checkable order-column valign-middle">
        <thead class="text-primary">
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Employee Designation</th>
            <th>Joining Date</th>
            <th>Avatar</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @manage_receptions.each_with_index do |reception, index| %>
            <tr>
              <td><%= (index + 1) + (@manage_receptions.current_page - 1) * @manage_receptions.limit_value %></td>
              <td><%= reception.userable.first_name %></td>
              <td><%= reception.userable.last_name %></td>
              <td><%= reception.userable.email %></td>
              <td><%= reception.userable.phone %></td>
              <td><%= reception.userable.address %></td>
              <td><%= reception.userable.employee_designation %></td>
              <td><%= reception.userable.joining_date %></td>
              <td>
                <% if reception.userable.avatar.attached? %>
                  <%= image_tag reception.userable.avatar, class: "img-thumbnail", size: "50x50" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-link btn-warning p-0 mx-3" data-toggle="modal" data-target="#edit-reception-modal-<%= reception.id %>">
                    <i class="fas fa-edit fa-lg"></i>
                  </button>
                  <%= button_to manage_reception_path(reception), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-danger p-0" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @manage_receptions, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal for creating a new reception -->
<div class="modal fade" id="add-reception-modal" tabindex="-1" role="dialog" aria-labelledby="addReceptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addReceptionModalLabel">Create New Reception</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body-content">
          <%= form_with(model: @user, url: manage_receptions_path, local: true, html: { multipart: true }) do |form| %>
          <div class="modal-body">
            <div class="form-row">
              <!-- Form fields for user creation -->
              <div class="form-group col-md-6">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :email %>
                <%= form.email_field :email, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :phone %>
                <%= form.telephone_field :phone, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :address %>
                <%= form.text_area :address, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :employee_designation %>
                <%= form.text_field :employee_designation, class: "form-control" %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :joining_date %>
                <%= form.date_field :joining_date, class: "form-control" %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :avatar %>
                <%= form.file_field :avatar, class: "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <%= form.label :password %>
                <%= form.password_field :password, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class: "form-control", required: true %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <%= form.submit "Save", class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @manage_receptions.each do |reception| %>
  <div class="modal fade" id="edit-reception-modal-<%= reception.id %>" tabindex="-1" role="dialog" aria-labelledby="editReceptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="editReceptionModalLabel">Edit Reception</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body-content">
        <%= form_with(model: reception, local: true, html: { multipart: true }) do |form| %>
          <%= form.fields_for :user do |user_form| %>
            <div class="modal-body">
              <div class="form-row">
                <!-- Form fields for user -->
               <div class="form-group col-md-6">
                <%= user_form.label :first_name %>
                <%= user_form.text_field :first_name, class: "form-control", value: reception.userable.first_name, required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :last_name %>
                <%= user_form.text_field :last_name, class: "form-control", value: reception.userable.last_name, required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :email %>
                <%= user_form.email_field :email, class: "form-control", value: reception.userable.email, required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :phone %>
                <%= user_form.telephone_field :phone, class: "form-control", value: reception.userable.phone, required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :address %>
                <%= user_form.text_area :address, class: "form-control", value: reception.userable.address, required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :employee_designation %>
                <%= user_form.text_field :employee_designation, class: "form-control", value: reception.userable.employee_designation %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :joining_date %>
                <%= user_form.date_field :joining_date, class: "form-control", value: reception.userable.joining_date %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :avatar %>
                <%= user_form.file_field :avatar, class: "form-control" %>
              </div>
              
              <div class="form-group col-md-6">
                <%= user_form.label :password %>
                <%= user_form.password_field :password, class: "form-control", required: true %>
              </div>

              <div class="form-group col-md-6">
                <%= user_form.label :password_confirmation %>
                <%= user_form.password_field :password_confirmation, class: "form-control", required: true %>
              </div>

              </div>
              <!-- other fields as needed -->
            </div>
          <% end %>
          <%= form.submit "Save", class: "btn btn-primary" %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
