<div class="card">
  <div class="card-header">
    <h4 class="card-title">Patients</h4>
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <!-- Button to trigger the modal -->
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-patient-modal">
        New Patient
      </button>

      <div class="mb-3 position-relative bposition">
        <button id="filter-btn" class="btn btn-secondary d-flex">
          Filter&nbsp;&nbsp;<span id="arrow-icon">&#9662;</span>
        </button>
        <!-- Hidden filter options (dropdown) -->
        <div id="filter-options" class="dropdown-content mt-2 d-none position-absolute bg-black shadow p-3 rounded">
          <%= form_with url: patients_path, method: :get, local: true, id: 'filter-form' do %>
            <div class="form-check">
              <%= radio_button_tag :filter, nil, @filter.nil?, id: 'filter_all' %>
              <%= label_tag 'filter_all', 'All', class: "form-check-label text-white" %>
            </div>
            <div class="form-check">
              <%= radio_button_tag :filter, 'check_in', @filter == 'check_in', id: 'filter_check_in' %>
              <%= label_tag 'filter_check_in', 'Check-In', class: "form-check-label text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped custom-table table-hover table-checkable order-column valign-middle">
        <thead class="text-primary">
          <tr>
            <th>#</th>
            <th>Patient Name</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Note</th>
            <th>Insurance Type</th>
            <th>Patient File No</th>
            <th>Emirate ID No</th>
            <th>Insurance No</th>
            <th>Status</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each_with_index do |patient, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= patient.name %></td>
              <td><%= patient.phone_no %></td>
              <td><%= patient.address %></td>
              <td><%= patient.note %></td>
              <td><%= patient.insurance_type %></td>
              <td><%= patient.patient_file_no %></td>
              <td><%= patient.emirate_id_no %></td>
              <td><%= patient.insurance_no %></td>
              <td><%= patient.status %></td>
              <% last_visit = patient.patient_visits.order(check_in: :desc).first %>

              <td>
                <% if last_visit&.check_in.present? %>
                  <%= last_visit.check_in.strftime('%d-%m-%Y %H:%M') %>
                <% end %>
              </td>

              <td>
                <% if last_visit&.check_out.present? %>
                  <%= last_visit.check_out.strftime('%d-%m-%Y %H:%M') %>
                <% end %>
              </td>

              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <!-- Check-In Button -->
                  <% if last_visit.nil? || last_visit.check_out.present? %>
                    <%= button_to check_in_patient_path(patient), method: :patch, class: "btn btn-link text-success p-0", data: { confirm: 'Check-in this patient?' } do %>
                      <i class="fas fa-user-check fa-lg"></i>
                    <% end %>
                  <% end %>

                  <!-- Check-Out Button -->
                  <% if last_visit&.check_in.present? && last_visit.check_out.blank? %>
                    <%= button_to check_out_patient_path(patient), method: :patch, class: "btn btn-link text-danger p-0", data: { confirm: 'Check-out this patient?' } do %>
                      <i class="fas fa-user-minus fa-lg"></i>
                    <% end %>
                  <% end %>

                  <button type="button" class="btn btn-link btn-warning p-0 mx-3" data-toggle="modal" data-target="#edit-patient-modal-<%= patient.id %>">
                    <i class="fas fa-edit fa-lg"></i>
                  </button>                 
                  <%= button_to patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-danger p-0" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %> 
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @patients, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>
</div>


<!-- Modal for adding a new patient -->
<div class="modal fade" id="add-patient-modal" tabindex="-1" role="dialog" aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-dark" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title" id="addPatientModalLabel">New Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <!-- Add a button to scan the Emirates ID -->
<button id="scan-btn" class="btn btn-primary">Scan Emirates ID</button>
      <div id="modal-body-content">
        <%= form_with(model: Patient.new, url: patients_path, local: true) do |form| %>
          <% if form.object.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this patient from being saved:</h2>
              <ul>
                <% form.object.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="modal-body">
            <div class="form text-white-50 form-fields">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :name %>
                  <%= form.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= form.label :phone_no %>
                  <%= form.text_field :phone_no, class: "form-control" %>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :address %>
                  <%= form.text_area :address, class: "form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= form.label :insurance_no %>
                  <%= form.text_field :insurance_no, class: "form-control" %>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :note %>
                  <%= form.text_area :note, class: "form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= form.label :insurance_type %>
                  <%= form.text_field :insurance_type, class: "form-control" %>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :patient_file_no %>
                  <%= form.text_field :patient_file_no, class: "form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= form.label :emirate_id_no %>
                  <%= form.text_field :emirate_id_no, class: "form-control" %>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :status %>
                  <%= form.select :status, ['active', 'inactive'], {}, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Save', class: 'btn btn-fill btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @patients.each do |patient| %>
  <div class="modal fade" id="edit-patient-modal-<%= patient.id %>" tabindex="-1" role="dialog" aria-labelledby="editPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientModalLabel">Edit Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body-content">
          <%= form_with(model: patient, local: true, html: { multipart: true }) do |form| %>
            <% if form.object.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <h5><%= pluralize(form.object.errors.count, "error") %> prohibited this patient from being updated:</h5>
                <ul>
                  <% form.object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="modal-body">
              <div class="form text-white-50 form-fields">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :phone_no %>
                    <%= form.text_field :phone_no, class: "form-control"%>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :address %>
                    <%= form.text_area :address, class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :insurance_no %>
                    <%= form.text_field :insurance_no, class: "form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :note %>
                    <%= form.text_area :note, class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :insurance_type %>
                    <%= form.text_field :insurance_type, class: "form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :patient_file_no %>
                    <%= form.text_field :patient_file_no, class: "form-control"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :emirate_id_no %>
                    <%= form.text_field :emirate_id_no, class: "form-control"%>
                  </div>
                </div>

                <div class="form-row">
                <div class="form-group col-md-6">
                  <%= form.label :status %>
                  <%= form.select :status, ['active', 'inactive'], {}, class: "form-control" %>
                </div>
              </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit 'Update', class: 'btn btn-fill btn-warning' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.getElementById('filter-btn').addEventListener('click', function () {
    const filterOptions = document.getElementById('filter-options');
    filterOptions.classList.toggle('d-none');
  });

  document.querySelectorAll('input[name="filter"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      document.getElementById('filter-form').submit();
    });
  });

  document.getElementById('filter-btn').addEventListener('click', function () {
    const filterOptions = document.getElementById('filter-options');
    const arrowIcon = document.getElementById('arrow-icon');

    filterOptions.classList.toggle('active');
    arrowIcon.innerHTML = filterOptions.classList.contains('active') ? '&#9652;' : '&#9662;';
  });

  document.querySelectorAll('input[name="filter"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      document.getElementById('filter-form').submit();
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const filterButton = document.getElementById('filter-btn');
    const filterAll = document.getElementById('filter_all');
    const filterCheckIn = document.getElementById('filter_check_in');

    function updateFilterButtonText() {
      if (filterCheckIn.checked) {
        filterButton.innerHTML = 'Check-In &nbsp;&nbsp;<span id="arrow-icon">&#9662;</span>';
      } else {
        filterButton.innerHTML = 'All &nbsp;&nbsp;<span id="arrow-icon">&#9662;</span>';
      }
    }

    updateFilterButtonText();

    filterAll.addEventListener('change', updateFilterButtonText);
    filterCheckIn.addEventListener('change', updateFilterButtonText);
  });

  document.getElementById("scan-btn").addEventListener("click", async function() {
    const btn = this;
    btn.disabled = true;
    btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Scanning...';

    try {
      // Try ports 5001-5010
      for (let port = 5001; port <= 5010; port++) {
        try {
          const cardData = await connectToWebSocket(port);
          await sendToRails(cardData);
          return; // Success - exit loop
        } catch (wsError) {
          console.log(`Port ${port} failed, trying next...`);
          continue;
        }
      }
      throw new Error("Could not connect to any WebSocket server (ports 5001-5010)");
    } catch (error) {
      console.error("Scan error:", error);
      showAlert(`Scan failed: ${error.message}`, "danger");
    } finally {
      btn.disabled = false;
      btn.innerHTML = 'Scan Emirates ID';
    }
  });

  async function connectToWebSocket(port) {
    return new Promise((resolve, reject) => {
      const ws = new WebSocket(`ws://localhost:${port}/scan`);
      let timeout = setTimeout(() => {
        ws.close();
        reject(new Error("Connection timeout"));
      }, 10000);

      ws.onmessage = (event) => {
        clearTimeout(timeout);
        const data = JSON.parse(event.data);
        if (data.error) {
          reject(new Error(data.error));
        } else {
          resolve(data.card_data);
        }
        ws.close();
      };

      ws.onerror = () => {
        clearTimeout(timeout);
        reject(new Error("Connection error"));
        ws.close();
      };
    });
  }

  async function sendToRails(cardData) {
    const response = await fetch("/patients/process_card_scan", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": document.querySelector("[name='csrf-token']").content
      },
      body: JSON.stringify({ card_data: cardData })
    });

    if (!response.ok) {
      throw new Error("Server returned error status");
    }

    const data = await response.json();

    if (data.success && data.patient) {
      // Existing patient
      document.getElementById("patient_name").value = data.patient.name || "";
      document.getElementById("patient_phone_no").value = data.patient.phone_no || "";
      document.getElementById("patient_emirate_id_no").value = data.patient.emirate_id_no || "";
      showAlert(`Patient found: ${data.patient.name}`, "success");
    } else {
      // New patient
      document.getElementById("patient_name").value = cardData.cardholder_name || "";
      document.getElementById("patient_emirate_id_no").value = cardData.card_number?.replace(/\s/g, "") || "";
      showAlert("New card scanned. Please complete registration.", "info");
    }
  }

  function showAlert(message, type) {
    const alertDiv = document.createElement("div");
    alertDiv.className = `alert alert-${type} alert-dismissible fade show`;
    alertDiv.role = "alert";
    alertDiv.innerHTML = `
      ${message}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    `;
    
    const container = document.querySelector(".container");
    container.prepend(alertDiv);
    
    setTimeout(() => alertDiv.remove(), 5000);
  }
</script>
