<% if @header_data.present? %>
  <h2>Transaction Header</h2>
  <table>
    <tr>
      <th>Sender ID</th>
      <td><%= @header_data[:sender_id] %></td>
    </tr>
    <tr>
      <th>Receiver ID</th>
      <td><%= @header_data[:receiver_id] %></td>
    </tr>
    <tr>
      <th>Transaction Date</th>
      <td><%= @header_data[:transaction_date] %></td>
    </tr>
    <tr>
      <th>Record Count</th>
      <td><%= @header_data[:record_count] %></td>
    </tr>
    <tr>
      <th>Disposition Flag</th>
      <td><%= @header_data[:disposition_flag] %></td>
    </tr>
  </table>
<% else %>
  <p>No header information available</p>
<% end %>
