<h2 class="mt-4 text-center text-primary">Download Report</h2>

<%= form_with url: download_report_transactions_path(format: :xlsx), method: :get, id: 'download_report_form', html: { class: 'shadow-lg p-4 rounded bg-dark mt-3' } do |form| %>
  <div class="form-group mb-3">
    <%= form.label :username, "Username", class: 'form-label text-white' %>
    <%= form.collection_select :username, Branch.all, :username, :username, { prompt: "Select a Username" }, class: 'form-control', id: 'username_select' %>
  </div>

  <%= form.hidden_field :report_type, value: 'full', id: 'report_type_field' %>

  <div class="d-flex justify-content-between mt-3">
    <%= form.submit "Full Report", class: "btn btn-primary btn-lg shadow-sm px-4", id: 'download_full_report' %>
    <%= form.submit "Rejection Report", class: "btn btn-primary btn-lg shadow-sm px-4", id: 'download_rejection_report' %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("download_report_form");
    const fullReportButton = document.getElementById('download_full_report');
    const rejectionReportButton = document.getElementById('download_rejection_report');
    const reportTypeField = document.getElementById('report_type_field');

    fullReportButton.addEventListener("click", function() {
      reportTypeField.value = 'full';
    });

    rejectionReportButton.addEventListener("click", function() {
      reportTypeField.value = 'rejection';
    });
  });
</script>
