<div class="sidebar">
  <div class="sidebar-wrapper">
    <%= link_to(root_path) do %>
      <div class="logo">
        <%= image_tag('img/mdi1.png', class: 'sidebar-image') %>
        <span class="logo-text logo-normal">MedicalInsurance</span>
      </div>
    <% end %>

    <ul class="nav">
      <!-- API Request -->
      <% if sidebar_permission?("API Request") %>
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to root_path do %>
            <i class="fas fa-cogs"></i>
            <p>API Request</p>
          <% end %>
        </li>
      <% end %>

      <!-- Report -->
      <% if sidebar_permission?("Report") %>
        <li class="<%= 'active' if current_page?(download_report_transactions_path) %>">
          <%= link_to download_report_transactions_path do %>
            <i class="fas fa-file-download"></i>
            <p>Report</p>
          <% end %>
        </li>
      <% end %>

      <% if sidebar_permission?("Patient") %>
        <li class="<%= 'active' if current_page?(patients_path) %>">
          <%= link_to patients_path do %>
            <i class="fas fa-users"></i>
            <p>Patient</p>
          <% end %>
        </li>
      <% end %>
      <!-- Admin -->
      <% if sidebar_permission?("Admin") %>
        <li class="<%= 'active' if controller.controller_name == 'admins' %>">
          <%= link_to admins_path do %>
            <i class="fas fa-user-shield"></i>
            <p>Admin</p>
          <% end %>
        </li>
      <% end %>

      <!-- Settings -->
      <% if sidebar_permission?("Settings") %>
        <li class="<%= 'active' if current_page?(settings_path) %>">
          <%= link_to settings_path do %>
            <i class="fas fa-cogs"></i>
            <p>Settings</p>
          <% end %>
        </li>
      <% end %>

      <!-- Logout -->
      <li>
        <%= link_to destroy_user_session_path do %>
          <i class="fas fa-sign-out-alt"></i>
          <p>Logout</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
